/*-----------------------------------*\
  #REUSED STYLE 
\*-----------------------------------*/
* 
{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.container { padding-inline: 15px; }

.section { padding-block: 120px; }

.h1,
.h2,
.h3 {
  color:  hsl(0, 0%, 100%);
  font-family: 'Oxanium', cursive;
  font-weight: 800;
  line-height: 1;
}

.h1 {
  font-size: 4.5rem;
  letter-spacing: -3px;
}

.h2 { font-size: 3.6rem; }

.h3 {
  font-size: 1.6rem;
  text-transform: uppercase;
}

:is(.h1, .h2, .h3, .card-price) .span {
  display: inline-block;
  color:hsl(42, 99%, 46%);
}

.btn {
  margin-inline: auto;
  color: hsl(277, 25%, 10%);
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  min-height: 55px;
  padding-inline: 35px;
}

.btn:is(:hover, :focus)::after { --translateX: -13px; }

.has-scrollbar {
  display: flex;
  gap: 30px;
  overflow-x: auto;
  padding-block-end: 30px;
  scroll-snap-type: inline mandatory;
}

.has-scrollbar::-webkit-scrollbar { height: 10px; }

.has-scrollbar::-webkit-scrollbar-track { outline: 3px solid hsl(42, 99%, 46%); }

.has-scrollbar::-webkit-scrollbar-thumb { background-color: hsl(42, 99%, 46%); }

.has-scrollbar::-webkit-scrollbar-button { width: calc(25% - 40px); }

.section-subtitle,
.section-title {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  left: 0%;
}

.section-subtitle {
  color:  hsl(0, 0%, 78%);
  font-size: 1.4rem;
  font-weight: 700;
  margin-block-end: 10px;
}

.section-title::after {
  content: url("Images/title-underline.png");
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 20rem;

}

.scrollbar-item {
  min-width: 100%;
  scroll-snap-align: start;
}

.card-banner 
{ 
  background-color: hsl(0, 1%, 65%);
}

.img-holder { aspect-ratio: var(--width) / var(--height); }

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.card-badge {
  min-height: 30px;
  color:hsl(277, 25%, 10%);
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  max-width: max-content;
  display: grid;
  align-items: center;
  padding-inline: 20px;
}

.card-badge::before { --skewX: -10deg; }

.section-text {
  color: hsl(0, 0%, 80%);
  font-size: var(1.5rem);
  font-weight: 500;
  max-width: 65ch;
  margin-inline: auto;
  text-align: center;
  line-height: 1.8;
  margin-left: 460px;
}

.skewBg {
  position: relative;
  z-index: 1;
}

.skewBg::before {
  content: "";
  position: absolute;
  inset: 0;
  transform: skewX(var(--skewX, -16deg));
  background-color:hsl(42, 99%, 46%);
  z-index: -1;
}
/*-----------------------------------*\
  #NAVBAR
\*-----------------------------------*/

.banner
{
  width: 100%;
  height: 110vh;
  background-image: url(Images/Homepage\ Background.jpg);
  background-size: cover;
  background-position: center;
  background-color: #000000;
  position: relative;
}

.banner2
{
  width: 100%;
  height: 18vh;
  background-size: cover;
  background-position: center;
  background-color: hsl(0, 0%, 0%);
  position: relative;
}


.navbar
{
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: right;
  justify-content: space-between;
  position: relative;
}

.logo
{
  width: 100px;
  cursor: pointer;
  margin: 20px;
  display: inline-flex;
  margin-top: -5px;
}

.navbar ul li 
{
  list-style: none;
  display: inline-flex;
  margin: 35px 15px;
  position: relative;
  display: inline-flex;
}

.navbar ul li a
{
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-transform: uppercase; 
  font-size: 1.1rem;  
}

.navbar ul li::after
{
  content: '';
  height:3px;
  width: 0;
  background: #00ffbf;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.banner .section-title
{
  margin-top: 100px;
  margin-left: 550px;
  margin-block-end: 150px;
}

.banner h3
{
  margin-left: 700px;
}

.navbar ul li:hover::after
{
  width: 100%;

}

.about
{
  margin-top: -60px;
}
/*-----------------------------------*\
  #LIVE
\*-----------------------------------*/

.live
{
  background: #000000;
  padding: 10px 30px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  transition: 0.5s;
  display: flex;
  width: 96%;
}


.live .container
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 0 auto;
  max-width: 1200px;
  padding: 120px 30px;
}

.live table
{
  margin: 150px;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  left: 100%;

}

.live tr td
{
  border: 2px solid #454545;
  text-align: center;
  padding: 20px;
}

.live th 
{
  background-color: #ffcc00;
  color: #000000;
  padding: 20px;
}

/*-----------------------------------*\
  #SHOP
\*-----------------------------------*/

.shop 
{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.shop .section-title
{
  margin-left: 190px;
}

.shop .section-text { margin-block: 50px 55px; }


.shop .has-scrollbar 
{
  margin-inline: -15px;
  padding-inline: 15px;
  scroll-padding-inline-start: 15px;
  margin: 0 0 0 160px;
}

.shop-card 
{
  box-shadow: 0px 5px 10px 1px hsla(0, 0%, 0%, 0.15);
  height: 100%;
}

.shop-card .card-content {
  position: relative;
  padding: 25px;
  padding-block-start: 40px;
}

.shop-card .card-badge {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.shop-card .h3 { font-size: 1.2rem;}

.shop-card .card-title 
{
  transition: 0.25s ease;
  margin-block-end: 10px;
  text-decoration: none;
}

.shop-card .card-title:is(:hover, :focus) { color: hsl(42, 99%, 46%); }

.shop-card .card-wrapper 
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: hsl(42, 99%, 46%);
}

.shop-card .card-price
{
  font-family:'Oxanium', cursive;
  font-weight: 800;
}

.shop-card .card-btn {
  background-color: hsla(0, 0%, 100%, 0.9);
  font-size: 15px;
  padding: 3px;
  border: 1px solid  hsl(0, 0%, 100%);
  border-radius: 4px;
  transition: 0.25s ease;
}

.shop-card .card-btn:is(:hover, :focus) {
  background-color: hsl(42, 99%, 46%);
  color: hsla(280, 37%, 8%, 0.9);
  border-color:hsl(42, 99%, 46%);
}


/*-----------------------------------*\
  #FEATURED-GAME
\*-----------------------------------*/

.featured-game 
{
  background-color:  hsl(0, 0%, 97%); 
  padding: 100px;
}

.featured-game .section-title
{
  color:hsl(277, 25%, 10%);
  margin-block-end: 110px;
}

.featured-game .has-scrollbar { gap: 0; }

.featured-game-card 
{
   position: relative; 

}

.featured-game-card :is(.card-content, .card-content-overlay) { position: absolute; }

.featured-game-card .card-content {
  bottom: 0;
  left: 0;
  right: 0;
  padding: 30px 35px;
  transition: 0.25s ease;
}

.featured-game-card .card-content-overlay {
  inset: 0;
  background-color: hsla(42, 99%, 46%, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.25s ease;
}

.featured-game-card .card-title { margin-block-end: 5px;
color:hsl(0, 0%, 100%) }

.featured-game-card .card-meta {
  color:  hsl(0, 0%, 100%);
  font-size: 1.2rem;
  font-weight: 100;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 4px;
}

.featured-game-card .card-content .card-meta { color: hsl(0, 0%, 89%); }

.featured-game-card .card-content ion-icon {
  color: hsl(42, 99%, 46%);
  font-size: 14px;
}

.featured-game-card .card-icon { margin-block-end: 20px; }

.featured-game-card .card-content-overlay .card-title { color: hsl(277, 25%, 10%); }

.featured-game-card .card-content-overlay .span { color:  hsl(0, 0%, 100%); }

.featured-game-card:is(:hover) .card-content { opacity: 0; }

.featured-game-card:is(:hover) .card-content-overlay { opacity: 1; }


/*-----------------------------------*\
  #CHECKOUT
\*-----------------------------------*/


.checkout {
  margin: 30px;
}


.checkout-container .section-title {
  margin-top:100px;
  margin-bottom: 30px;
  font-size: 40px;
  color:hsl(0, 0%, 0%);
}

.total-container
{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.checkout-title {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  color: #333;
  margin-bottom: 15px;
}

.checkout-image {
  height: 250px;
  width: 300px;
}

.checkout-details {
  display: flex;
  align-items: center;
  padding: 5px;
}

.checkout-price {
  flex-grow: 1;
  color: #333;
  font-size: 1.2em;
  font-weight: bold;
}

.shop-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cart-header {
  font-weight: bold;
  font-size: 1.25em;
  color: #333;
}

.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}

.cart-row {
  display: flex;
}

.cart-item {
  width: 45%;
}

.cart-price {
  width: 20%;
  font-size: 1.2em;
  color: #333;
}

.cart-quantity {
  width: 35%;
}

.cart-item-title {
  color: #333;
  margin-left: .5em;
  font-size: 1.2em;
}

.cart-item-image {
  width: 75px;
  height: auto;
  border-radius: 10px;
}

.checkout-btn {
  background-color: hsla(0, 0%, 100%, 0.9);
  font-size: 15px;
  padding: 4px;
  border: 1px solid  hsl(0, 0%, 0%);
  border-radius: 4px;
  height: 30px;
  width: 50px;
  transition: 0.25s ease;
}

.checkout-btn:is(:hover) {
  background-color: hsl(42, 99%, 46%);
  color: hsla(280, 37%, 8%, 0.9);
  border-color:hsl(42, 99%, 46%);
}

.btn-danger {
  color: white;
  background-color: #EB5757;
  border: none;
  border-radius: .3em;
  font-weight: bold;
}

.btn-danger:hover {
  background-color: #CC4C4C;
}

.cart-quantity-input {
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid #000000;
  background-color: #eee;
  color: #333;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 25px;
}

.cart-row:last-child {
  border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
  border: none;
}

.cart-total {
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
}

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  margin-right: 20px;
}

.cart-total-price {
  color: #333;
  font-size: 1.1em;
  font-weight: bold;
}

.btn-purchase {
  display: block;
  margin: 40px auto 80px auto;
  font-size: 1.65em;
}


/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/


.footer { color: hsl(220, 6%, 59%); }

.footer-top 
{ 
  padding-block-end: 120px;
  background-color: #000;

}


.footer-top .container {
  margin-left: 250px ;
  display: flex;
  gap: 50px;
}

.footer .logo 
{ 
  margin-block-end: 35px;
  text-decoration: none;
  font-size: 2.0rem;
  font-weight: 500;
  margin-top: 130px;
  color:hsl(42, 99%, 46%);
}

.footer-text,
.footer .contact-item {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.8;
  text-decoration: none;
}

.footer-text { margin-block-end: 15px; }

.contact-item:not(:last-child) { margin-block-end: 10px; }

.contact-item {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.item-text
{
  text-decoration: none;
  font-size: 25px;
  color:silver
}

.contact-icon {
  margin-block-start: 3px;
  font-size: 20px;
}

.footer-list-title {
  position: relative;
  color: hsl(0, 0%, 78%);
  font-family: 'Oxanium', cursive;
  text-transform: uppercase;
  font-weight: 800;
  padding-block-end: 20px;
  margin-block-end: 35px;
  margin-top: 90px;
}


.footer-wrapper 
{ margin-block-end: -40px;
}

.footer .social-list {
  display: flex;
  gap: 10px;
}

.footer .social-link {
  color: var(--white);
  padding: 10px;
  border-radius: 2px;
}

.footer-newsletter { position: relative; }

.footer-newsletter .email-field {
  background-color:  hsl(280, 8%, 15%);
  padding: 12px 20px;
  padding-inline-end: 60px;
  font-size: 1.4rem;
  color: hsl(0, 0%, 100%);
}

.footer-btn {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 53px;
  background-color: hsl(42, 99%, 46%);
  color: hsl(277, 25%, 10%);
  display: grid;
  place-content: center;
}


.footer-bottom {
  background-color: hsl(280, 7%, 8%);
  padding-block: 20px;
  text-align: center;
}

.copyright {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.8;
  margin-left: 150px;
}

.copyright-link 
{
  display: inline-block;
  color: hsl(42, 99%, 46%);
}



@media (min-width: 1200px) 
  {

    /*** 
    REUSED STYLE
    ***/
  
    .container { max-width: 1280px; }
  
    .h1 { --fs-2: 7.5rem; }
  
    .scrollbar-item { min-width: calc(25% - 22.5px); }
  
  
    
  

  
    /**
     * FEATURED GAME
     */
  
    .featured-game .has-scrollbar { padding-block-end: 10; }
  
    .featured-game .scrollbar-item { min-width: -10%; }
  

    /**
     * SHOP
     */
  
    .shop .has-scrollbar { padding-block-end: 15px; }
  

    /**
     * NEWSLETTER
     */
  
    .newsletter-card {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-inline: 70px;
    }
  
    .newsletter .h2 { margin-block-end: 0; }
  
  
    /**
     * FOOTER
     */
  
    .footer .container { grid-template-columns: 1fr 0.7fr 0.7fr 1fr; }
  
  }
  





